body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.main {
  max-width: 100%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs li {
  max-width: 49%;
  display: inline-block;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.tabs li.selected {
  background-color: #fff;
  border-bottom: 2px solid #4caf50; /* Change color as needed */
}

.content {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content li {
  display: none;
}

.content li.encode {
  display: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

p {
  margin: 10px 0;
}

textarea {
  width: 100%;
  padding: 5px 0px;
}

select {
  padding: 5px;
}

input[type="number"] {
  width: 60px;
  padding: 5px;
}

button {
  width:100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.hide {
  display: none;
}


.content li {
  display: none;
}

.content li.selected {
  display: block;
}

#downloadLink {
    width: 100%;
    display: block;
    margin: 20px auto;
    border: 1px solid #45a049;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.canvsdv {text-align:center}

#RsltContnr {
  display: flex;
  flex-wrap: wrap;
}

.lps1 {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  box-sizing: border-box;
}

.lps2 {
  text-align: center;
}

.lps2 a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Set text color */
  display: block; /* Make the entire link area clickable */
  padding: 10px; /* Add padding for better clickability */
}

.lps2 a:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.lps2 img {
  max-width: 100%;
}

/* Additional styling for the text */
.lps2 p {
  margin: 5px 0; /* Add margin to paragraphs inside .lps2 */
  font-size: 14px; /* Adjust the font size */
  color: #666; /* Adjust the text color */
}
.readBlog {
  background-color: #a9aceb; /* Replace with your desired background color */
  padding: 20px; /* Adjust padding as needed */

  /* Add a left border with a line */
  border-left: 5px solid #007bff; /* Replace with your desired line color */
}
@media screen and (max-width: 480px) {
    .lps1 {
        flex: unset;
    }
}
